<div class="h-full overflow-x-hidden">
  <section id="dashboard">
    <app-dashboard></app-dashboard>
  </section>
  <section id="about-me" class="bg-gray-100">
    <app-about-me></app-about-me>
  </section>
  <section id="services" class="bg-gray-100">
    <app-services></app-services>
  </section>
  <section id="resume" class="bg-gray-100">
    <app-resume></app-resume>
  </section>
  <section id="projects" class="bg-gray-100">
    <app-projects></app-projects>
  </section>
  <section id="contact" class="pt-3" style="background-color: var(--card-hover-bg)">
    <app-contact-me></app-contact-me>
  </section>
</div>
