<footer class=" text-surface-400 pt-16 pb-8 text-center" style="background-color: var(--code-background)">
  <h2 class="text-surface-0 text-xl font-semibold tracking-wide">NAFISHA.</h2>

  <div class="mt-6 flex justify-center gap-3">
    <a href="https://www.facebook.com/nafisanam.salsabil/" target="_blank" rel="noopener noreferrer" class="w-9 h-9 border border-surface-500 rounded text-sm flex items-center justify-center hover:text-surface-0 hover:border-surface-0">
      <i class="pi pi-facebook"></i>
    </a>

    <a href="https://www.instagram.com/nafishasalsabil/" target="_blank" rel="noopener noreferrer" class="w-9 h-9 border border-surface-500 rounded text-sm flex items-center justify-center hover:text-surface-0 hover:border-surface-0">
      <i class="pi pi-instagram"></i>
    </a>

    <a href="https://github.com/nafishasalsabil" target="_blank" rel="noopener noreferrer" class="w-9 h-9 border border-surface-500 rounded text-sm flex items-center justify-center hover:text-surface-0 hover:border-surface-0">
      <i class="pi pi-github"></i>
    </a>

    <a href="https://www.linkedin.com/in/nafisha-salsabil-38a771223/" target="_blank" rel="noopener noreferrer" class="w-9 h-9 border border-surface-500 rounded text-sm flex items-center justify-center hover:text-surface-0 hover:border-surface-0">
      <i class="pi pi-linkedin"></i>
    </a>

    <a href="https://leetcode.com/u/nafishasalsabil/" target="_blank" rel="noopener noreferrer" class="w-9 h-9 border border-surface-500 rounded text-sm flex items-center justify-center hover:text-surface-0 hover:border-surface-0">
      <i class="pi pi-code"></i>
    </a>
  </div>


  <div class="border-t border-gray-600 mt-10 pt-4 text-xs">
    © 2025 Nafisha.
  </div>
</footer>
