<div class="wrapper py-16 px-4 sm:px-6 lg:px-8 pt-0" style="background-color: var(--card-bg)">
  <div class="flex flex-col md:flex-row items-center gap-10 max-w-6xl mx-auto">
    <div class="project-parent py-10 flex flex-col items-center justify-center gap-4">
      <div>
        <h2 class="text-3xl font-medium">My Portfolio</h2>
      </div>
      <div>
        <div class="title-box"></div>
        <div class="title-line"></div>
      </div>
      <div class="mt-5">
        <p class="text-gray-400 text-center">
          My portfolio showcases practical implementations of frontend technologies such as Angular, React, PrimeNG, and
          Tailwind CSS. I focus on building responsive, accessible, and maintainable interfaces that align with design
          standards and deliver consistent user experiences across platforms.
        </p>
      </div>
      <div class="flex flex-wrap justify-center gap-2 my-10 w-full">
        @for (f of filters; track f) {
          <p-button
            [label]="f.label"
            (onClick)="selectFilter(f)"
            [severity]="selectedFilter.label === f.label ? 'primary' : 'secondary'"
            [outlined]="selectedFilter.label !== f.label"
            class="text-sm"
          ></p-button>
        }
      </div>

      <div class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-3 gap-8 my-5 w-full">
        @for (p of filteredProjects; track p) {
          <div class="rounded-lg shadow-md overflow-hidden flex flex-col items-center group"
               style="background-color: var(--project-bg)">
            <div class="w-full h-[200px] flex items-center justify-center overflow-hidden bg-white p-2">
              <img
                src="assets/images/projects/{{ p.img }}"
                alt="{{ p.label }}"
                class="max-h-full max-w-full object-contain transition-transform duration-500 ease-in-out group-hover:scale-105 cursor-pointer"
              />
            </div>

            <div class="py-6 text-center">
              <h2 class="text-lg cursor-pointer hover:text-primary hover:underline" style="color: var(--card-text)"
                  [routerLink]="'/project/' + p.id "
              >{{ p.label }}</h2>
            </div>
          </div>
        }

      </div>

      @if (showMoreButton) {
        <div class="text-center mt-6">
          <p-button
            label="More works"
            icon="pi pi-refresh"
            outlined
            (onClick)="loadMore()"
          ></p-button>
        </div>

      }
    </div>
  </div>
</div>
