<div class="container py-16 px-4 sm:px-6 lg:px-8 bg-surface-0">
  <div class="flex flex-col md:flex-row items-center gap-10 max-w-6xl mx-auto">

    <div class="relative w-full md:w-1/2">
      <div class="absolute inset-0 rounded-lg border-[16px] border-surface-200 top-0 left-[3%] right-[3%] z-0"></div>
      <img src="assets/images/hero.png" alt="About Image" class="relative z-10 w-full h-auto object-cover rounded-lg"/>
    </div>

    <div class="w-full md:w-1/2 text-center md:text-left space-y-4">
      <h3 class="text-3xl font-bold text-primary-600">Nafisha Salsabil</h3>
      <p class="text-xl font-semibold text-gray-800">
        I'm a <span class="text-primary-500">Passionate Web Designer</span>
      </p>
      <p class="text-gray-600 leading-relaxed">
        Frontend Developer at Square Health Ltd. for over 1.5 years with a strong focus on clean, responsive, and accessible UI. Skilled in Angular, PrimeNG, and Tailwind, with an eye for detail and usability.
      </p>
      <p class="text-gray-600 leading-relaxed">
        Outside of work, I explore backend development and UX design through personal projects, expanding my full-stack capabilities and keeping my skills versatile and up-to-date.
      </p>

      <div class="pt-4 space-y-4">
        <button class="bg-primary-500 hover:bg-primary-600 text-surface-0 font-medium py-2 px-6 rounded shadow">
          View Portfolio
        </button>
      </div>
    </div>
  </div>

  <div class="hobby-parent py-10 flex flex-col items-center justify-center gap-4">
    <div>
      <h2 class="text-3xl font-medium">Hobbies & Interests</h2>
    </div>
    <div>
      <div class="title-box"></div>
      <div class="title-line"></div>
    </div>
    <div class="mt-5">
      <p class="text-gray-400 text-center">
        Outside of coding, I enjoy digital illustration, reading tech blogs, customizing UI components, and exploring new design trends. I’m also passionate about learning backend systems and improving user flows.
      </p>
    </div>
    <div class="grid grid-cols-2 sm:grid-cols-4 gap-6 my-5">
      @for(h of hobbies; track h){
        <div
          class="flex items-center rounded-md px-5 py-4 transition-all duration-200 ease-in-out
             bg-surface-50 hover:bg-surface-0 hover:shadow-[0_10px_25px_rgba(60,72,88,0.1)] hover:-translate-y-1"
        >
          <div class="pr-4 border-r border-surface-200 mr-4">
            <i class="pi pi-{{h.icon}} text-surface-700"></i>
          </div>
          <span class="text-surface-800 tracking-wide">{{ h.label }}</span>
        </div>
      }
    </div>
  </div>
</div>
