<div class="wrapper py-16 px-4 sm:px-6 lg:px-8" style="background-color: var(--gray-bg)">
  <div class="flex flex-col md:flex-row items-center gap-10 max-w-6xl mx-auto mb-5">

    <div class="relative w-full md:w-1/2">
      <div class="absolute inset-0 rounded-lg border-[16px] border-surface top-0 z-0 w-full"></div>
<!--      <div class="absolute inset-0 translate-x-4 translate-y-4 rounded-lg border-[16px] border-surface-300 z-0"></div>-->
      <img src="assets/images/demo.jpg" alt="About Image" class="relative z-10 w-full h-auto object-cover rounded-lg p-4"/>
    </div>

    <div class="w-full md:w-1/2 text-center md:text-left space-y-4">
      <h3 class="text-3xl font-bold text-primary-600">Nafisha Salsabil</h3>
      <p class="text-xl font-semibold text-gray-800">
        I'm a <span class="text-primary-500">Passionate Web Designer</span>
      </p>
      <p class="text-gray-600 leading-relaxed">
        Software Engineer at Square Health Ltd. for over 1.5 years with a strong focus on clean, responsive, and accessible UI. Skilled in Angular, PrimeNG, and Tailwind, with an eye for detail and usability.
      </p>
      <p class="text-gray-600 leading-relaxed">
        Outside of work, I explore backend development and UX design through personal projects, expanding my full-stack capabilities and keeping my skills versatile and up-to-date.
      </p>

      <div class="pt-4 space-y-4">
        <a href="#projects">
          <button class="bg-primary-500 hover:bg-primary-600 text-surface-0 font-medium py-2 px-6 rounded shadow">
            View Portfolio
          </button>
        </a>

      </div>
    </div>
  </div>

  <div class="hobby-parent py-10 flex flex-col items-center justify-center gap-4 mt-10">
    <div>
      <h2 class="text-3xl font-medium">Hobbies & Interests</h2>
    </div>
    <div>
      <div class="title-box"></div>
      <div class="title-line"></div>
    </div>
    <div class="mt-5">
      <p class="text-gray-400 text-center">
        Outside of coding, I enjoy digital illustration, reading tech blogs, customizing UI components, and exploring new design trends. I’m also passionate about learning backend systems and improving user flows.
      </p>
    </div>
    <div class="grid grid-cols-2 sm:grid-cols-4 gap-6 my-5">
      @for (h of hobbies; track h; let i = $index) {
        <div
          class="flex items-center rounded-md px-5 py-4 transition-all duration-200 ease-in-out hover:-translate-y-1"
          [ngStyle]="{
      'background-color': hoveredIndex === i ? 'var(--card-hover-bg)' : 'var(--card-bg)',
      'box-shadow': hoveredIndex === i ? '0 10px 25px var(--card-shadow)' : 'none'
    }"
          (mouseenter)="hoveredIndex = i"
          (mouseleave)="hoveredIndex = null"
        >
          <div class="pr-4 mr-4 border-r" [ngStyle]="{ 'border-color': 'var(--card-border)' }">
            <i class="pi pi-{{ h.icon }}" [ngStyle]="{ 'color': 'var(--card-icon)' }"></i>
          </div>
          <span class="tracking-wide" [ngStyle]="{ 'color': 'var(--card-text)' }">
      {{ h.label }}
    </span>
        </div>
      }

    </div>
  </div>
</div>
