:root[class*='app-dark'] {
  --surface-ground: var(--p-surface-950);
  --code-background: var(--p-surface-800);
  --code-color: var(--p-surface-100);
  --topbar-color: var(--p-surface-900);
  --text-color-gray: #9ca3af;
  --gray-bg: var(--p-surface-950);
  --card-bg: var(--p-surface-900);
  --card-hover-bg: var(--p-surface-900);
  --card-border: var(--p-surface-700);
  --card-icon: var(--p-surface-200);
  --card-text: var(--p-surface-100);
  --card-shadow: rgba(255, 255, 255, 0.04);
  --service-text: var(--p-surface-200);
  --breadcrumb-bg: var(--p-surface-200);
  --project-bg: var(--p-surface-700);
}
